.card{
  background-color: aqua;
  width: 400px;
  box-sizing: content-box;
  padding: 20px;
  margin: 30px;
  
  box-sizing: border-box;
  text-align: center;
  
  color-scheme: dark;
  color:red;
  padding: auto;
  display: block;
}